
html, body {
  padding: 0;
  margin: 0;
}

h3 {
  font-family: AvenirNext-Regular, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.navbar-default {
  background: #000000;
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: none;
}

.nav li a {
  padding: 10px 15px 10px 0;
}

.navbar-default li a {
  font-family: AvenirNext-Regular;
  font-size: 10px;
  color: #FFFFFF;
  letter-spacing: 1.5px;
  padding-top: 16px;
}

.sub-nav-item {
  font-family: AvenirNext-Medium;
  font-size: 10px;
  color: #000000;
  letter-spacing: 1.16px;
  text-transform: uppercase;
}

.page-title {
  font-family: AvenirNext-Bold;
  font-size: 14px;
  color: #000000;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
}

.container {
  max-width: 800px
}

.site-title {
  font-family: AvenirNext-Heavy;
  font-size: 14px;
  color: #FFFFFF !important;
  letter-spacing: 0;
  text-transform: uppercase;
}



/*a {
  color: #324AD2
}*/

.sub-item {
  font-family: AvenirNext-Regular, sans-serif;
  font-size: 11px;
  /*color: #324AD2;*/
  text-transform: uppercase;
}

.search-result-header {
  border-bottom: 1px solid rgb(189, 189, 189);
  padding-bottom: 4px;
}

.search-result-header:hover {
  cursor: pointer;
}

.react-datepicker__input-container {
  font-family: AvenirNext-Regular, sans-serif;
  font-size: 12px;
  /*color: #324AD2;*/
  width: 100%;
  margin: 5px 0 5px 0;
}

.react-datepicker__input-container input {
  display: block;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid gray;
}

.sidebar-to {
  font-family: AvenirNext-Regular, sans-serif;
  font-size: 10px;
  text-align: center;
  margin: 0;
}

.panel {
  box-shadow: none;
  web-box-shadow: none;
  margin-bottom: 0;
}

.panel-group .panel {
  border-radius: 0px !important;
}

.panel-heading {
  background-color: white !important;
}

.panel-default {
  border: none;
  border-bottom: 1px solid #f8f8f8;
}

.panel-title {
  font-family: AvenirNext-Regular, sans-serif;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
.completed-todo h4 {
  text-decoration: line-through;
  color: #c4c4c4;
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
}

.todo h4 {
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
}

.todo-assignedto {
 color: gray;
 margin-top: 20px;
 font-size: 10px;
}

.panel-body {
  font-family: AvenirNext-Regular, sans-serif;
  background-color: white;
  position: relative;
}

.panel-body:hover {
  background-color: rgb(236, 236, 236);
}

.todo-edit-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10px;
  text-transform: uppercase;
}

.todo-notes {
  width: 90%;
}

.panel-date {
  display: inline-block;
  color: black;
}

.panel-event-name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: black;
}

.panel-event-location {
  position: absolute;
  right: 10px;
  color: gray;
  font-size: 10px;
  bottom: 10px;
}

.event-title h3 {
  font-size: 12px;
}

.page-header h3 {
  font-weight: 600;
}

.page-header h1 {
  font-family: AvenirNext-Regular, sans-serif;
  font-size: 20px;

}



/*.panel-default {
  border: none;
  font-family: AvenirNext-Regular, sans-serif;
  font-size: 13px;
  color: #4D4D4D;
  border-bottom: 1px solid #F4B3AF;
  background-color: white;
  border-radius: 0px;
}

.panel-default .panel-heading {
  background-color: white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.panel-default .panel-heading:hover {
  background-color: #F4B3AF;
}

.panel-group .panel {
  border-radius: 0;
}


div.panel.panel-default {
  border: none;
  color: #4D4D4D;
}*/

.nav-pills li a:hover  {
  color: #324AD2;
  background-color: white;
}

.btn-default {
  font-family: AvenirNext-Regular, sans-serif;
  font-size: 13px;
}

.sidebar-btn {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 30px;
}

.sidebar-select {
  font-family: AvenirNext-Regular, sans-serif;
  font-size: 13px;
  margin-top: 20px;
  height: 26px;
}

.results-header {
  width: 100%;
  height: 50px;
  position: relative;
}

.results-add-icon {
  right: 0;
  top: 0;
  position: absolute;
  height: 20px;
  width: 20px;
  background: url("../images/add-icon.png") no-repeat center center;
  background-size: 20px 20px;
}

.add-btn {
  border: 1px solid #324AD2;
  border-radius: 4px;
}

.add-btn a {
  color: #324AD2;
  font-family: AvenirNext-Regular, sans-serif;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;

}

.add-btn:hover a {
  color: white;
  font-family: AvenirNext-Regular, sans-serif;
  text-align: center;
  text-decoration: none;
}

.add-btn:hover {
  background: #324AD2 !important
}

.add-btn {
  border: 1px solid #324AD2;
  border-radius: 4px;
}

.react-datepicker__day--in-range {
  background-color: #FF736A !important;
}

.react-datepicker__day--in-selecting-range {
  background-color: #F4B3AF !important;
}

.react-datepicker__day--selected {
  color: white;
}

.daysheet-date {
  color: #FF736A;
  font-family: AvenirNext-Regular, sans-serif;
  display: inline-block;
}

/*.show-grid .row {
  width: 800px;
}*/

/*.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range*/


.background {
  fill: none;
  pointer-events: all;
}

#states {
  fill: black;
}

#states .active {
  fill: orange;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

@media (min-width: 768px) {

  form.half-width {
    width: 50%;
    margin: 20px auto 0 auto;
  }

  form.half-width input {
    margin: 0;
  }

 }

 form.half-width input {
   margin: 3px 0;
 }

 form label {
   margin: 13px 0 0 0;
 }

 .to-input {
   margin: 0 5px;
   font-family: AvenirNext-Regular, sans-serif;
 }

 .form-item-container {
   border-bottom: 1px solid #e9e9e9;
   padding: 0px;
 }

 .remove-btn {
   padding: 3px 6px;
   border: 1px solid red;
   color: red;
   margin: 5px 5px 0 0
 }

 .form-items-container {
   margin: 10px 0 0 5px;
   color: gray;
   font-family: AvenirNext-Regular, sans-serif;
   font-size: 12px;
   line-height: 36px;
   background-color: #f6f6f6
 }

 .add-btn-container {
   display: block;
 }

.add-btn-container p {
  line-height: 35px;
}

.form-item-title {
  margin-left: 5px;
}

.daysheet-panel {
  color: black;
}

.sort-icon {
  position: relative;
  bottom: 3px;
}

.sort-icon-asc {
  position: relative;
  bottom: -4px;
}

.sort-icon:hover , .sort-icon-asc:hover {
  cursor: pointer;
}

.panel-todo-body .panel-body {
  background-color: rgb(244, 244, 244)
}

.event-date {
  font-size: 19px;
}

.delete-btn {
  color: red;
  border: 1px solid red;
}

.delete-btn:hover {
  color: white;
  background-color: red;
  border: 1px solid red;
}


 /**************
  start event page
 ***************/

 .event-hero, .daysheet-hero {
    border: 2px solid #000000;
    height: 327px;
    max-width: 800px;
    display: block;
    margin: 0 auto;
    position: relative;

    .daysheet-date {
      font-family: AvenirNext-Bold;
      font-size: 64px;
      color: #000000;
      letter-spacing: 3.71px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      text-align: center;
    }

    .daysheet-city-contain {
      position: absolute;
      bottom: 13px;
      right: 13px;
      font-family: AvenirNext-Bold;
      font-size: 14px;
      color: #000000;
      letter-spacing: 0.81px;
    }


    .event-title-container{
      margin: 31px 0 0 51px;
      // border-left: 2px solid #E6E6E6;
      // border-top: 2px solid #E6E6E6;
      padding: 11px;
      position: absolute;
    }

    h1 {
      margin: 0;
      font-family: AvenirNext-Bold;
      font-size: 20px;
      color: #000000;
      letter-spacing: 1.16px;
    }

    .event-date {
      font-family: AvenirNext-Regular;
      font-size: 14px;
      color: #000000;
      letter-spacing: 0;
      margin: 14px 0 0 0;
    }

    .capacity {
      font-family: AvenirNext-Regular;
      font-size: 12px;
      color: #B3B3B3;
      letter-spacing: 0;
      margin: 6px 0 0 0;
    }

    .event-edit-btn {
      height: 46px;
      width: 128px;
      background: #000000;
      border: 2px solid #000000;
      position: absolute;
      top: 0;
      right: 0;
      font-family: AvenirNext-Regular;
      font-size: 12px;
      color: #FFFFFF;
      letter-spacing: 0.81px;
      line-height: 46px;
      text-align: center;
      transition: 0.3s ease;
      border-top: none;
      border-right: none;
      text-transform: uppercase;

      &:hover {
        color: black;
        background-color: white;
        transition: 0.3s ease;
      }
    }
    .event-status {
      font-family: AvenirNext-Bold;
      font-size: 12px;
      color: #000000;
      letter-spacing: 0.94px;
      text-transform: uppercase;
      position: absolute;
      margin: 0;
      bottom: 10px;
      left: 10px;
    }
    .event-address-container{
      position: absolute;
      right: 61px;
      bottom: 31px;
      border-right: 2px solid #E6E6E6;
      border-bottom: 2px solid #E6E6E6;
      padding: 11px;


      h5 {
        font-family: AvenirNext-Regular;
        font-size: 12px;
        color: #000000;
        letter-spacing: 0.94px;
        text-align: right;
        margin: 2px 0;
        span {
            font-family: AvenirNext-Bold;
        }
      }
    }
 }

 .show-label-container {
    background: #000000;
    height: 38px;
    font-family: AvenirNext-Bold;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 1.17px;
    line-height: 38px;
    text-transform: uppercase;
    padding-left: 8px;
 }

 .schedule-item {
    border-bottom: 1px solid #D8D8D8;
    height: 31px;
    position: relative;
    &:hover {
      background-color: #e6e6e6;
    }
    .event-title {
      line-height: 31px;
      font-family: AvenirNext-Bold;
      font-size: 14px;
      color: #000000;
      letter-spacing: 1.1px;
      padding-left: 1px;
      display: inline-block;
    }
    .event-duration{
      display: inline-block;
      font-family: AvenirNext-Italic;
      font-size: 10px;
      color: #AEAEAE;
      letter-spacing: 0.78px;
      margin-left: 9.65px;
    }
    .start-time{
      display: inline-block;
      text-align: right;
      position: absolute;
      right: 0;
      top: 7px;
      font-family: AvenirNext-Regular;
      font-size: 14px;
      color: #000000;
      letter-spacing: 1.1px;
    }
 }

 .list-content {
   padding: 17px 0;
 }


 .contact-container, .eod-address {
    font-family: AvenirNext-Regular;
    font-size: 14px;
    color: #000000;
    letter-spacing: 1.1px;
    float: left;
    margin: 0 21px 0 0;
    span {
      font-family: AvenirNext-Bold;
    }
 }


 .list-text {
  font-family: AvenirNext-Regular;
  font-size: 14px;
  color: #000000;
  letter-spacing: 1.1px;
 }

 .show-footer{
   height: 100px;
   .delete-link{
    font-family: AvenirNext-Medium;
    font-size: 10px;
    color: #FF0000;
    letter-spacing: 1.25px;
    text-align: right;
    cursor: pointer;
    text-transform: uppercase;
   }
 }

 .home-page {
   width: 100%;
   height: 100%;
   background-color: black;
   position: absolute;
   top: 0;
   left: 0;
   .content-container {
     width: 400px;
     margin: 0 auto;
     display: block;
     h1{
       margin-top: 86px;
       text-align: center;
       font-family: AvenirNext-Heavy;
       font-size: 81px;
       color: #FFFFFF;
       letter-spacing: 0.85px;
       text-transform: uppercase;
     }
     .select-artist{
        opacity: 0.37;
        font-family: AvenirNext-Regular;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0.56px;
        border-bottom: 1px solid rgba(255,255,255,0.25);
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
        text-decoration: none;
        &:hover{
          opacity: 1;
        }
     }

   }
 }

 .search-sidebar, .search-results {
   .search-result-header {
      font-family: AvenirNext-Bold;
      font-size: 13px;
      color: #000000;
      letter-spacing: 0.4px;
      border-bottom: 1px solid black;
   }
   .date-picker {
      width: 100%;
      font-family: AvenirNext-Regular;
      font-size: 12px;
      color: #000000;
      letter-spacing: 0.4px;
   }
   .sidebar-select {
    font-family: AvenirNext-Regular;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0.32px;
    border-radius: 0px;
   }
   button {
      border-radius: 0;
      background-color: black;
      font-family: AvenirNext-Bold;
      font-size: 12px;
      color: #FFFFFF;
      letter-spacing: 0.81px;
      border: 1px solid black;
      transition: 0.3s ease;
      &:hover {
        color: black;
        background-color: white;
      }
   }
   .add-link  {
     border: none;
     text-align: center;
     &:hover {
       background-color: none;
       color: black;
     }
      a {
        font-family: AvenirNext-Bold;
        font-size: 12px;
        color: #000000;
        letter-spacing: 0.72px;
      }
   }
 }

 .todo-title {
  font-family: AvenirNext-Regular, sans-serif;
  font-size: 11px;
  color: #000000;
  letter-spacing: 0.89px;
  .todo-notes{
    font-family: AvenirNext-Regular;
    font-size: 10px;
    color: #000000;
    letter-spacing: 0.61px;
  }
 }

 .todo-edit-btn{
   a{
     font-family: AvenirNext-Regular;
     font-size: 10px;
     color: #000000;
     letter-spacing: 0.61px;
   }
 }

 .todo-assignedto{
    font-family: AvenirNext-Regular;
    font-size: 10px;
    color: #979797;
    letter-spacing: 0.54px;
 }

 .panel-heading{
   padding: 0;
 }

 .panel-body {
   border-top: none !important;
   background: #F7F7F7;
 }

 .event-panel .panel-body {
   background-color: white;
   border-bottom: 0px solid #f8f8f8;
   padding: 10px;
 }

 .daysheet-panel .panel-body {
   background-color: white;
   border-bottom: 0px solid #f8f8f8;
   padding: 10px;
 }




 ////////////// mobile /////////////



 @media (max-width: 600px) {
   .event-hero {
     border: none;
   }

   .event-hero, .daysheet-hero {
     .event-edit-btn {
       position: absolute;
       width: 100%;

     }
   }


}
